<md-dialog 
	layout="column"
	ng-cloak
	flex="50">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2 translate="">New service</h2>
			<span flex></span>
			<md-button 
				class="md-icon-button" 
				ng-click="answer(config)"
				ng-disabled="newServiceForm.$invalid">
				<wb-icon aria-label="Close dialog">done</wb-icon>
			</md-button>
			<md-button 
				class="md-icon-button" 
				ng-click="cancel()">
				<wb-icon aria-label="Close dialog">close</wb-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-dialog-content layout-padding>
		<form
			name="newServiceForm"
			ng-action="answer(config)"
			layout="row" 
			layout-wrap
			layout-align="center center"
			flex>
			<mb-inline
				ng-model="config.avatar"
				mb-inline-enable="{{true}}"
				mb-inline-type="image">
				<img width="256px" height="256px" 
					ng-src="{{config.avatar}}" />
			</mb-inline>
			<div
				layout="column"
				layout-margin>
				<md-input-container>
					<label tranlate="">Title</label>
					<input ng-model="config.title" name="title" required></input>
					<div ng-messages="myForm.title.$error">
						<div ng-message="required" translate>This field is required.</div>
					</div>
				</md-input-container>
	
				<md-input-container>
					<label tranlate="">Description</label>
					<input ng-model="config.description"></input>
				</md-input-container>
	
				<md-input-container>
					<label tranlate="">Price</label>
					<input ng-model="config.price" type="number" required></input>
					<div ng-messages="myForm.title.$error">
						<div ng-message="required" translate="">This field is required.</div>
					</div>
				</md-input-container>
	
				<md-input-container>
					<label tranlate="">Off</label>
					<input ng-model="config.off"></input>
				</md-input-container>
			</div>
		</form>
	</md-dialog-content>
</md-dialog>
