<md-dialog 
	layout="column"
	ng-cloak
	flex="50">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2 translate="">New Zone</h2>
			<span flex></span>
			<md-button 
				class="md-icon-button" 
				ng-click="answer(config)"
				ng-disabled="myForm.$invalid">
				<wb-icon aria-label="Close dialog">done</wb-icon>
			</md-button>
			<md-button 
				class="md-icon-button" 
				ng-click="cancel()">
				<wb-icon aria-label="Close dialog">close</wb-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-dialog-content layout-padding>
		<form
			name="myForm"
			ng-action="add(config)"
			layout="column" 
			flex>
			<md-input-container>
				<label tranlate="">Title</label>
				<input ng-model="config.title" name="title" required></input>
				<div ng-messages="myForm.name.$error">
					<div ng-message="required" translate="">This field is required.</div>
				</div>
			</md-input-container>
			<md-input-container>
				<label tranlate="">Description</label>
				<input ng-model="config.description"></input>
			</md-input-container>
			<md-input-container>
				<label tranlate="">province</label>
				<input ng-model="config.province"></input>
			</md-input-container>
			<md-input-container>
				<label tranlate="">city</label>
				<input ng-model="config.city"></input>
			</md-input-container>
			<md-input-container>
				<label tranlate="">address</label>
				<input ng-model="config.address"></input>
			</md-input-container>
			<md-input-container>
				<label tranlate="">phone</label>
				<input ng-model="config.phone"></input>
			</md-input-container>
			<md-input-container>
				<label tranlate="">point</label>
				<input ng-model="config.point"></input>
			</md-input-container>
			<md-input-container>
				<label tranlate="">owner_id</label>
				<input ng-model="config.owner_id"></input>
			</md-input-container>
		</form>
	</md-dialog-content>
</md-dialog>
