<md-dialog 
    layout="column"
    ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 translate="">Update metadata</h2>
            <span flex></span>
            <md-button 
                class="md-icon-button" 
                ng-click="answer(config.data)"
                ng-disabled="myForm.$invalid">
                <wb-icon aria-label="Close dialog">done</wb-icon>
            </md-button>
            <md-button 
                class="md-icon-button" 
                ng-click="cancel()">
                <wb-icon aria-label="Close dialog">close</wb-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <form name="myForm"
              layout="column" 
              layout-padding>
            <span flex="10"></span>
            <md-input-container required>
                <label translate="">Key</label>
                <input ng-model="config.data.key" name="key" disabled required="true">
            </md-input-container>
            <md-input-container>
                <label translate="">Value</label>
                <input ng-model="config.data.value" name="value" required="true">
                <div ng-messages="myForm.value.$error" ng-show="ctrl.showError">
                    <div ng-message="required" translate>This field is required.</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label translate="">Unit</label>
                <input ng-model="config.data.unit">
            </md-input-container>
            <md-input-container>
                <label translate="">Namespace</label>
                <input ng-model="config.data.namespace">
            </md-input-container>
        </form>
    </md-dialog-content>
</md-dialog>
