/*
 * Customize tables
 */
 table.amd-shop-table tr td,
 table.amd-shop-table tr td * {
 	padding: 0;
 	margin: 0;
 }
 table.amd-shop-table tr td *{
 	-webkit-padding-end: 5px;
 }

 table.amd-shop-table .md-errors-spacer{
 	min-height: 0;
 }

 table.gh-center-align {
 	text-align: center;
 }

table.amd-shop-table md-select-value{
  border:none !important;
}
table.amd-shop-table input{
  border:none !important;
}
table.amd-shop-table-padding tr td{
  padding: 4px !important;
}
table.amd-shop-table-padding th{
  padding: 4px !important;
}
