<md-content 
    class="md-padding"
    layout-padding
    flex>
    <mb-titled-block 
        ng-show="!ctrl.edit"
        mb-progress="ctrl.loading || ctrl.updating"
        mb-title="{{'Deliver'| translate}}"
        layout="column">
        <div layout="row" 
             layout-xs="column" 
             layout-align-xs="center center" 
             layout-padding>
            <table>
                <tr>
                    <td translate="">ID </td>
                    <td>: {{deliver.id}}</td>
                </tr>
                <tr>
                    <td translate="">Title </td>
                    <td><mb-inline
                            ng-model="deliver.title"
                            mb-inline-enable="{{true}}"
                            mb-inline-type="text"
                            mb-inline-on-save="save()">: {{deliver.title}}</mb-inline></td>
                </tr>
                <tr>
                    <td translate="">Description </td>
                    <td><mb-inline
                            ng-model="deliver.description"
                            mb-inline-enable="{{true}}"
                            mb-inline-type="text"
                            mb-inline-on-save="save()">: {{deliver.description}}</mb-inline></td>
                </tr>
                <tr>
                    <td translate="">Price </td>
                    <td><mb-inline
                            ng-model="deliver.price"
                            mb-inline-enable="{{true}}"
                            mb-inline-type="text"
                            mb-inline-on-save="save()">: {{deliver.price}}</mb-inline></td>
                </tr>
                <tr>
                    <td translate="">Creation Date </td>
                    <td>: {{deliver.creation_dtime| mbDate:'jYYYY-jMM-jDD'}}</td>
                </tr>
                <tr>
                    <td translate="">Last Modified Date </td>
                    <td>: {{deliver.modif_dtime| mbDate:'jYYYY-jMM-jDD'}}</td>
                </tr>
            </table>
        </div>
        <div ng-show="!ctrl.edit" layout-gt-xs="row"
             layout="column">
            <span flex></span>
            <md-button 
                class = "md-raised md-accent"
                ng-click="remove()">
                <span translate="">Delete</span>
            </md-button>
<!--             <md-button  -->
<!--                 class="md-raised md-primary" -->
<!--                 ng-click="ctrl.edit = true;"> -->
<!--                 <span translate="">Edit</span> -->
<!--             </md-button> save()-->
        </div>
    </mb-titled-block>
</md-content>
