<md-content
	ng-controller="AmdShopOrderCtrl as ctrl"
	class="md-padding"
	layout-padding
	flex>

	<div 
		ng-if="ctrl.loading || ctrl.actionLoading || ctrl.actionDoing"
		layout="row" 
		style="height: 90vh;" 
		layout-align="center center">

		<md-progress-circular
			md-mode="indeterminate"
			md-diameter="96"
			layout-align="center center">
		</md-progress-circular>
	</div>

	<!--main div-->
	<div
		id="order-main-div"
		layout="column"
		layout-gt-md="row">

		<!--Left div-->
		<div 
			id="order-left-div"
			layout="column"
			layout-align="start stretch"
			flex="100"
			flex-gt-md="50"
			layout-margin>

			<!--order info-->
			<mb-titled-block 
				mb-title="{{'Order information'| translate}}"
				layout="column">
				<div 
					id="order-info"
					layout="column">

					<table>
						<tr>
							<td translate="">ID  </td>
							<td>: {{ctrl.order.id}}</td>
						</tr>
						<tr class="noprint">
							<td translate="">Title  </td>
							<td>: {{ctrl.order.title}}</td>
						</tr>
						<tr>
							<td translate="">Full name  </td>
							<td>: {{ctrl.order.full_name}}</td>
						</tr>
						<tr>
							<td translate="">Phone  </td>
							<td> 
								<div layout="row">
									<p style="margin: 0px;padding: 0px;align-self: center">{{ctrl.order.phone}}</p>
									<span flex="10"></span>
									<md-button 
										class="md-icon-button md-raised noprint"
										style="cursor: pointer;align-self: center;margin: 0px;"
										ng-click="ctrl.callToCustomer();">
										<wb-icon aria-label="Call to customer">call</wb-icon>
									</md-button>
								</div>
							</td>
						</tr>
						<tr>
							<td translate="">Address  </td>
							<td>: {{ctrl.order.province}} - {{ctrl.order.city}} - {{ctrl.order.address}}</td>
						</tr>
						<tr class="noprint">
							<td translate="">Description  </td>
							<td>: {{ctrl.order.description}}</td>
						</tr>
						<tr class="noprint">
							<td translate="">State  </td>
							<td>: <span translate="">{{ctrl.order.state}}</span></td>
						</tr>
						<tr>
							<td translate="">Modification Date  </td>
							<td>: <span translate="">{{ctrl.order.modif_dtime | mbDate}}</span></td>
						</tr>
						<tr>
							<td translate="">Creation Date  </td>
							<td>: <span translate="">{{ctrl.order.creation_dtime | mbDate}}</span></td>
						</tr>
					</table>
					<!--Possible actions-->
					<div 
						ng-if="ctrl.actions.length"
						id="order-possible-actions"
						class="noprint"
						layout="row" 
						layout-align="end center" 
						layout-wrap>

						<md-button 
							ng-if="action.visible"
							class="md-primary md-raised"
							ng-repeat="action in ctrl.actions"
							ng-click="ctrl.doAction(action)">
							{{action.title}}
						</md-button>
					</div>
				</div>
			</mb-titled-block>

			<!--order metafields-->
			<mb-titled-block 
				mb-title="{{'Order metafields'| translate}}"
				layout="column">
				<div layout="column">
					<table>
						<tr ng-repeat="item in ctrl.order.metafields">
							<td>{{item.key}}</td>
							<td>: {{item.value}}</td>
						</tr>
					</table>
				 </div>
			</mb-titled-block>

			<!--Order items-->
			<mb-titled-block 
				mb-title="{{'Order items'| translate}}"
				layout="column">
				<div 
					id="order-items">

					<table align="center" class="mb-table mb-shop-table">
						<thead>
							<tr md-colors="{color: 'primary-700'}">
								<td style="width: 5%"></td>
								<td align="center" translate="" style="width: 60%">Title</td>
								<td align="center" translate="" style="width: 10%">Unit/price</td>
								<td align="center" translate="" style="width: 10%">Count</td>
								<td align="center" translate="" style="width: 10%">Price</td>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in ctrl.order.order_items track by $index">
								<td align="center">
						<wb-icon ng-if="item.item_type === 'service'" class="noprint">cloud_upload</wb-icon>
						<wb-icon ng-if="item.item_type === 'product'" class="noprint">add_shopping_cart</wb-icon>
						<wb-icon ng-if="item.item_type === 'deliver'" class="noprint">send</wb-icon>
						</td>
						<td>
							<p>{{item.title}}</p>
						</td>
						<td align="center">
							<p>{{item.price| number}}</p>
						</td>
						<td align="center">
							<p>{{item.count}}</p>
						</td>
						<td align="center">
							<p>{{item.price * item.count| number}}</p>
						</td>
						</tr>
						<tr style="border-bottom: none">
							<td style="width: 5%"></td>
							<td align="start" style="width: 60%">
								<h3 translate="">Total price</h3>
							</td>
							<td style="width: 10%"></td>
							<td style="width: 10%"></td>
							<td ng-if="ctrl.order.order_items.length > 0" align="center" style="width: 10%">
								<h3>{{ctrl.totalP| number}}</h3>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
			</mb-titled-block>
			<!--Order attachments-->
			<mb-titled-block 
				mb-title="{{'Order attachments'| translate}}"
				layout="column"
				class="noprint">
				<div 
					id="order-attachments">
					<md-list>
						<md-list-item
							ng-repeat="attachment in ctrl.order.attachments"
							ng-click="ctrl.showImage(ctrl.order, attachment)"> 
							<img
								ng-if="attachment.mime_type.startsWith('image')"
								class="md-avatar"
								ng-src="/api/v2/shop/orders/{{ctrl.order.id}}/attachments/{{attachment.id}}/content"
								ng-src-error="resources/images/baseline-help-24px.svg"/>
							<img
								ng-if="!attachment.mime_type.startsWith('image')"
								class="md-avatar"
								ng-src="src/resources/images/unknown-file.png"/>

							<p>{{attachment.description}}</p>

							<md-button 
								class="md-icon-button" 
								aria-label="Download attachment"
								ng-href="/api/v2/shop/orders/{{ctrl.order.id}}/attachments/{{attachment.id}}/content"
								target="_blank"
								download="{{attachment.file_name}}">
								<wb-icon>cloud_download</wb-icon>
								<md-tooltip><span translate="">Download</span></md-tooltip>
							</md-button>
						</md-list-item>
					</md-list>

					<div
						ng-if="ctrl.order.attachments.length === 0">
						<p translate="">No attachments</p>
					</div>
				</div>
			</mb-titled-block>
		</div>
		<!--Right div-->
		<div 
			id="order-right-div"
			class="noprint"
			layout="column"
			layout-align="start stretch"
			flex="100"
			flex-gt-md="50"
			layout-margin>

			<mb-titled-block 
				mb-title="{{'Customer information'| translate}}"
				layout="column">

				<md-list 
					ng-if="ctrl.order.customer.id || ctrl.order.assignee">

					<!--Customer info.-->
					<div 
						ng-if="ctrl.order.customer.id">
						<md-subheader>
							<h2 style="color: black">{{'Customer info.'| translate}}</h2>
						</md-subheader>
						<md-list-item class="md-2-line"> 
							<img class="md-avatar"
								 ng-src="/api/v2/user/accounts/{{ctrl.order.customer.id}}/avatar"
								 ng-src-error="https://www.gravatar.com/avatar/{{ctrl.order.customer.id| wbmd5}}?d=identicon&size=150"/>
							<div class="md-list-item-text" layout="column">
								<h3>{{ctrl.order.customer.profiles[0].first_name}} {{ctrl.order.customer.profiles[0].last_name}}</h3>
							</div>
						</md-list-item> 
					</div>

					<!--responsible info.-->
					<div 
						ng-if="ctrl.order.assignee">
						<md-divider></md-divider> 

						<!--Responsible info-->
						<md-subheader ng-if="ctrl.order.assignee"><h2 style="color: black">{{'Responsible info.'| translate}}</h2></md-subheader>
						<md-list-item 
							class="md-2-line" 
							ng-if="ctrl.order.assignee"> 
							<img class="md-avatar"
								 ng-src="/api/v2/user/accounts/{{ctrl.order.assignee.id}}/avatar" 
								 ng-src-error="https://www.gravatar.com/avatar/{{ctrl.order.assignee.id| wbmd5}}?d=identicon&size=150" />
							<div class="md-list-item-text" layout="column">
								<h3>{{ctrl.order.assignee.profiles[0].first_name}} {{ctrl.order.assignee.profiles[0].last_name}}</h3>
							</div>
						</md-list-item> 
					</div>
				</md-list>
			</mb-titled-block>

			<!--History-->
			<mb-titled-block 
				mb-title="{{'Order history'| translate}}"
				layout="column">
				<div 
					layout="column">
					<md-list 
						ng-if="ctrl.order.histories.length"
						flex> 
						<md-list-item
							ng-repeat="history in ctrl.order.histories track by $index"
							class="md-2-line" 
							style="cursor: pointer">

							<wb-icon ng-style="{'background-color': '#607D8B'}" ng-if="history.action == 'create'" class="md-avatar-icon" alt="{{history.action}}">add</wb-icon>
							<wb-icon ng-style="{'background-color': '#607D8B'}" ng-if="history.action == 'accept'" class="md-avatar-icon" alt="{{history.action}}">done</wb-icon>
							<wb-icon ng-style="{'background-color': '#607D8B'}" ng-if="history.action == 'reject'" class="md-avatar-icon" alt="{{history.action}}">clear</wb-icon>
							<wb-icon ng-style="{'background-color': '#607D8B'}" ng-if="history.action == 'archive'" class="md-avatar-icon" alt="{{history.action}}">drafts</wb-icon>
							<wb-icon ng-style="{'background-color': '#607D8B'}" ng-if="history.action == 'done'" class="md-avatar-icon" alt="{{history.action}}">done_all</wb-icon>
							<wb-icon ng-style="{'background-color': '#607D8B'}" ng-if="history.action == 'pay'" class="md-avatar-icon" alt="{{history.action}}">monetization_on</wb-icon>

							<div class="md-list-item-text" layout="column">
								<h3 translate="">{{history.action}}</h3>
								<p>{{history.description}}</p>
							</div>
							<md-divider ng-if="$index < ctrl.order.histories.length - 1"></md-divider> 
						</md-list-item> 
					</md-list>
				</div>
			</mb-titled-block>
		</div>
	</div>
</md-content>

