<div
	ng-controller="MbSeenShopTagsCtrl as ctrl"
	mb-preloading="ctrl.loading"
	layout="column"
	flex>
	<!-- TODO: maso, 1395: در حالت خطا یک صفحه با امکان reload اضافه بشه. -->
	<mb-pagination-bar
		mb-model="ctrl.queryParameter"
		mb-reload="ctrl.reload()"
		mb-sort-keys="ctrl.getSortKeys()"
		mb-more-actions="ctrl.getActions()"
		mb-properties="ctrl.properties">
	</mb-pagination-bar>
	<md-content
		mb-infinate-scroll="ctrl.loadNextPage()"
		layout="column"
		flex>
		<md-list flex>
			<md-list-item 
				ng-repeat="tag in ctrl.items track by tag.id"
				class="md-3-line" 
				ng-href="{{'shop/tags/' + tag.id}}">
				<wb-icon>label</wb-icon>
				<div 
					class="md-list-item-text" 
					layout="column">
					<h3>{{::tag.id}} - {{::tag.name}}</h3>
					<p>{{::tag.description}}</p>
				</div>
				<md-divider md-inset></md-divider>
			</md-list-item>
		</md-list>
	</md-content>
</div>