<md-content
	ng-controller="AmdShopProductCtrl as ctrl"
	class="md-padding"
	layout-padding
	flex>
	<mb-titled-block 
		ng-show="!ctrl.edit"
		mb-progress="ctrl.loading"
		mb-title="{{'Product'| translate}}"
		layout="column">
		<div 
			layout="row" 
			layout-xs="column" 
			layout-align-xs="center center" 
			layout-padding>
			<mb-inline
				ng-model="product.avatar"
				mb-inline-enable="{{true}}"
				mb-inline-type="image"
				mb-inline-on-save="update()">
				<img width="256px" height="256px" ng-src="{{product.avatar}}" />
			</mb-inline>
			<table>
				<tr>
					<td translate="">ID  </td>
					<td>: {{product.id}}</td>
				</tr>
				<tr>
					<td translate="">Name  </td>
					<td><mb-inline
						ng-model="product.title"
						mb-inline-enable="{{true}}"
						mb-inline-type="text"
						mb-inline-on-save="update()">: {{product.title}}</mb-inline></td>
				</tr>
				<tr>
					<td translate="">Description  </td>
					<td><mb-inline
						ng-model="product.description"
						mb-inline-enable="{{true}}"
						mb-inline-type="text"
						mb-inline-on-save="update()">: {{product.description}}</mb-inline></td>
				</tr>
				<tr>
					<td translate="">Price  </td>
					<td><mb-inline
						ng-model="product.price"
						mb-inline-enable="{{true}}"
						mb-inline-type="text"
						mb-inline-on-save="update()">: {{product.price}}</mb-inline></td>
				</tr>
				<tr>
					<td translate="">Off  </td>
					<td><mb-inline
						ng-model="product.off"
						mb-inline-enable="{{true}}"
						mb-inline-type="text"
						mb-inline-on-save="update()">: {{product.off}}</mb-inline></td>
				</tr>
				<tr>
					<td translate="">Manufacturer  </td>
					<td><mb-inline
						ng-model="product.manufacturer"
						mb-inline-enable="{{true}}"
						mb-inline-type="text"
						mb-inline-on-save="update()">: {{product.manufacturer}}</mb-inline></td>
				</tr>
				<tr>
					<td translate="">Brand  </td>
					<td><mb-inline
						ng-model="product.brand"
						mb-inline-enable="{{true}}"
						mb-inline-type="text"
						mb-inline-on-save="update()">: {{product.brand}}</mb-inline></td>
				</tr>
				<tr>
					<td translate="">Model  </td>
					<td><mb-inline
						ng-model="product.model"
						mb-inline-enable="{{true}}"
						mb-inline-type="text"
						mb-inline-on-save="update()">: {{product.model}}</mb-inline></td>
				</tr>
				<tr>
					<td translate="">Creation Date  </td>
					<td>: {{product.creation_dtime| mbDate}}</td>
				</tr>
				<tr>
					<td translate="">Last Modified Date  </td>
					<td>: {{product.modif_dtime| mbDate}}</td>
				</tr>
			</table>
		</div>
		<div layout-gt-xs="row"
			 layout="column">
			<span flex></span>
			<md-button 
				class = "md-raised md-accent"
				ng-click="remove()">
				<span translate="">Delete</span>
			</md-button>
		</div>
	</mb-titled-block>

	<!-- Metafields -->
	<mb-titled-block
		ng-show="!ctrl.edit"
		mb-progress="ctrl.loading || ctrl.loadingMetas"
		layout="column">
		<table class="mb-table mb-shop-table">
			<thead>
				<tr md-colors="{color: 'primary-700'}">
					<td style="width: 20%" translate="">Field key</td>
					<td style="width: 20%" translate="">Field value</td>
					<td style="width: 20%" translate="">Unit</td>
					<td style="width: 20%" translate="">Namespace</td>
					<td translate style="width: 10%;text-align: center;"></td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="meta in metafeilds">
					<td>
			<am-wb-inline
				ng-model="meta.key"
				am-wb-inline-enable="false"
				am-wb-inline-type="text"
				am-wb-inline-label="{{'Field key' | translate}}"
				am-wb-inline-on-save="inlineUpdateMetafield(meta)">
				<p> {{meta.key}} </p>
			</am-wb-inline>
			</td>
			<td>
			<am-wb-inline
				ng-model="meta.value"
				am-wb-inline-enable="true"
				am-wb-inline-type="text"
				am-wb-inline-label="{{'Field value' | translate}}"
				am-wb-inline-on-save="inlineUpdateMetafield(meta)">
				<p> {{meta.value}} </p>
			</am-wb-inline>
			</td>
			<td>
			<am-wb-inline
				ng-model="meta.unit"
				am-wb-inline-enable="true"
				am-wb-inline-type="text"
				am-wb-inline-label="{{'Unit' | translate}}"
				am-wb-inline-on-save="inlineUpdateMetafield(meta)">
				<p> {{meta.unit}} </p>
			</am-wb-inline>
			</td>
			<td>
			<am-wb-inline
				ng-model="meta.namespace"
				am-wb-inline-enable="true"
				am-wb-inline-type="text"
				am-wb-inline-label="{{'Namespace' | translate}}"
				am-wb-inline-on-save="inlineUpdateMetafield(meta)">
				<p> {{meta.namespace}} </p>
			</am-wb-inline>
			</td>
			<td style="text-align: center;">
				<div layout="row">
					<md-button class="md-icon-button md-primary"
							   ng-click="updateMetafield(meta)"
							   aria-label="edit metafield">
						<wb-icon>edit</wb-icon>
					</md-button>
					<md-button class="md-icon-button md-accent"
							   ng-click="removeMetafield(meta)"
							   aria-label="remove variable">
						<wb-icon>delete</wb-icon>
					</md-button>
				</div>
			</td>
			</tr>
			</tbody>
		</table>
		<div layout="row">
			<span flex></span>
			<md-button
				layout-align="end center"
				class="md-icon-button md-raised md-primary"
				ng-click="addMetafield()"
				aria-label="add meta data">
				<wb-icon>add</wb-icon>
			</md-button>
		</div>
	</mb-titled-block>

	<!--Categories the product could be assigned to. -->
	<mb-titled-block 
		ng-show="!ctrl.edit"
		mb-progress="ctrl.loading || loadingCategories || updatingCategories"
		mb-title="{{'Categories'| translate}}"
		layout="column">

		<md-list flex ng-if="categories"> 
			<md-list-item 
				ng-repeat="category in categories track by $index"
				class="md-2-line" 
				ng-href="{{'categories/' + category.id}}">

				<img ng-if="category.thumbnail" ng-src="{{category.thumbnail}}"  class="md-avatar" />
				<wb-icon ng-if="!category.thumbnail">folder_special</wb-icon>
				<div class="md-list-item-text" layout="column">
					<h3>{{category.name}}</h3>
					<p>{{category.description}}</p>
				</div>
				<md-divider md-inset></md-divider> 
			</md-list-item>
		</md-list>

		<div layout="column"
			 ng-if="!categories || categories.length === 0">
			<p style="text-align: center" translate="">Nothing found.</p>
		</div>

		<div layout="row">
			<span flex></span>
			<md-button 
				class="md-raised md-primary" 
				ng-click="selectCategories()">
				<span translate="">Edit</span>
			</md-button>
		</div>
	</mb-titled-block>

</md-content>

