<md-content 
	ng-controller="AmdShopCategoryCtrl as ctrl"
    class="md-padding"
    layout-padding
    flex>
    <mb-titled-block 
        ng-show="!ctrl.edit"
        mb-progress="ctrl.loading || ctrl.saving"
        mb-title="{{'Category'| translate}}"
        layout="column">

        <div layout="row" 
             layout-xs="column" 
             layout-align-xs="center center" 
             layout-padding>
            <mb-inline
                ng-model="category.thumbnail"
                mb-inline-enable="{{true}}"
                mb-inline-type="image"
                mb-inline-on-save="save()"">
                <img 
                    width="256px" height="256px" 
                    ng-src-erro="resource/images/baseline-help-24px.svg"
                    ng-src="{{category.thumbnail}}" />
            </mb-inline>

            <table>
                <tr>
                    <td translate="">ID </td>
                    <td>: {{::category.id}}</td>
                </tr>
                <tr>
                    <td translate="">Parent </td>
                    <td>: {{parent.name}}</td>
                </tr>
                <tr>
                    <td translate="">Name </td>
                    <td><mb-inline
                            ng-model="category.name"
                            mb-inline-enable="{{true}}"
                            mb-inline-type="text"
                            mb-inline-on-save="save()">: {{category.name}}</mb-inline></td>
                </tr>
                <tr>
                    <td translate="">Description </td>
                    <td><mb-inline
                        ng-model="category.description"
                        mb-inline-enable="{{true}}"
                        mb-inline-type="text"
                        mb-inline-on-save="save()">: {{category.description}}</mb-inline></td>
                </tr>
                <tr>
                    <td translate="">Content ID </td>
                    <td><mb-inline
                        ng-model="category.content_id"
                        mb-inline-enable="{{true}}"
                        mb-inline-type="text"
                        mb-inline-on-save="save()">: {{category.content_id}}</mb-inline></td>
                </tr>
            </table>
        </div>
        <div ng-show="!ctrl.edit" layout-gt-xs="row"
             layout="column">
            <span flex></span>
            <md-button 
                class = "md-raised md-accent"
                ng-click="remove()">
                <span translate="">Delete</span>
            </md-button>
        </div>
    </mb-titled-block>


    <!-- subcategories -->
    <mb-titled-block
        mb-progress="ctrl.loadingChilds || ctrl.savingCategory"
        mb-title="{{'Subcategories'| translate}}"
        layout="column"
        mb-more-actions="categoryActions">

        <div layout="column"
             ng-if="ctrl.subcategories.length == 0 && !ctrl.loadingChilds">
            <p style="text-align: center" translate>List is empty.</p>
        </div>
        <md-list flex>
            <md-list-item 
                ng-repeat="pobject in ctrl.subcategories track by pobject.id"
                class="md-2-line" 
                ng-href="{{'categories/' + pobject.id}}">
                <img ng-src="{{pobject.thumbnail}}" ng-if="pobject.thumbnail" class="md-avatar" />
                <wb-icon ng-if="!pobject.thumbnail">folder_special</wb-icon>
                <div 
                    class="md-list-item-text" 
                    layout="column">
                    <h4>{{pobject.name}}</h4>
                    <p>{{pobject.description}}</p>
                </div>
                <md-divider md-inset></md-divider>
            </md-list-item>

        </md-list>
    </mb-titled-block>

    <!-- Services -->
    <mb-titled-block
        mb-progress="ctrl.loadingServices || ctrl.serviceSaving"
        mb-title="{{'Services'| translate}}"
        layout="column"
        mb-more-actions="serviceActions">

        <div layout="column"
             ng-if="ctrl.services.length == 0 && !ctrl.loadingServices">
            <p style="text-align: center" translate>List is empty.</p>
        </div>
        <md-list flex> 
            <md-list-item 
                ng-repeat="pobject in ctrl.services track by pobject.id"
                class="md-2-line" 
                ng-href="{{'services/' + pobject.id}}">
                
                <img ng-src="{{pobject.avatar}}" ng-if="pobject.avatar" class="md-avatar" />
                <wb-icon ng-if="!pobject.avatar">cloud_upload</wb-icon>
                <div class="md-list-item-text" layout="column">
                    <h3>{{pobject.title}}</h3>
                    <p>{{pobject.description}}</p>
                </div>
                <md-divider md-inset></md-divider> 
            </md-list-item>
        </md-list>
    </mb-titled-block>
    
    <!-- Products -->
    <mb-titled-block
        mb-progress="ctrl.loadingProducts || ctrl.productSaving"
        mb-title="{{'Products'| translate}}"
        layout="column"
        mb-more-actions="productActions">

        <div layout="column"
             ng-if="ctrl.products.length === 0 && !ctrl.loadingProducts">
            <p style="text-align: center" translate>List is empty.</p>
        </div>
        <md-list flex> 
            <md-list-item 
                ng-repeat="pobject in ctrl.products track by pobject.id"
                class="md-2-line" 
                ng-href="{{'products/' + pobject.id}}">
                
                <img ng-src="{{pobject.avatar}}" ng-if="pobject.avatar" class="md-avatar" />
                <wb-icon ng-if="!pobject.avatar">unarchive</wb-icon>
                <div class="md-list-item-text" layout="column">
                    <h3>{{pobject.title}}</h3>
                    <p>{{pobject.description}}</p>
                </div>
                <md-divider md-inset></md-divider> 
            </md-list-item>
        </md-list>
    </mb-titled-block>
</md-content>
