<md-content
	ng-controller="AmdShopAgencyCtrl as ctrl"
	class="md-padding"
	layout-padding 
	flex>
	<mb-titled-block 
		ng-show="!ctrl.edit"
		mb-progress="ctrl.loading"
		mb-title="{{'Tag'| translate}}"
		layout="column">
		<table>
			<tr>
				<td translate="">ID </td>
				<td>: {{ctrl.item.id}}</td>
			</tr>
			<tr>
				<td translate="">Name </td>
				<td><mb-inline
						ng-model="ctrl.item.title"
						mb-inline-enable="{{true}}"
						mb-inline-type="text"
						mb-inline-on-save="ctrl.updateItem()">: {{ctrl.item.title}}</mb-inline></td>
			</tr>
			<tr>
				<td translate="">Description </td>
				<td><mb-inline
						ng-model="ctrl.item.description"
						mb-inline-enable="{{true}}"
						mb-inline-type="text"
						mb-inline-on-save="ctrl.updateItem()">: {{ctrl.item.description}}</mb-inline></td>
			</tr>
			<tr>
				<td translate="">Creation Date </td>
				<td>: {{ctrl.item.creation_dtime| mbDate:'jYYYY-jMM-jDD'}}</td>
			</tr>
			<tr>
				<td translate="">Last Modified Date </td>
				<td>: {{ctrl.item.modif_dtime| mbDate:'jYYYY-jMM-jDD'}}</td>
			</tr>
		</table>

		<!-- Action bar -->
		<div ng-show="!ctrl.edit" layout-gt-xs="row"
			 layout="column">
			<span flex></span>
			<md-button 
				class = "md-raised md-accent"
				ng-click="ctrl.deleteItem()">
				<span translate="">Delete</span>
			</md-button>
<!-- 			<md-button  -->
<!-- 				class="md-raised md-primary" -->
<!-- 				ng-click="ctrl.edit = true"> -->
<!-- 				<span translate="">Edit</span> -->
<!-- 			</md-button> -->
		</div>
	</mb-titled-block>
</md-content>
