<div
	ng-controller="MbSeenShopOrdersCtrl as ctrl"
	mb-preloading="ctrl.loading"
	layout="column"
	flex>
	<mb-pagination-bar
		mb-model="ctrl.queryParameter"
		mb-reload="ctrl.reload()"
		mb-sort-keys="ctrl.getSortKeys()"
		mb-more-actions="ctrl.getActions()"
		mb-properties="ctrl.properties">
	</mb-pagination-bar>
	<md-content
		mb-infinate-scroll="ctrl.loadNextPage()"
		layout="column"
		flex>
		<md-list flex>
			<md-list-item 
				ng-repeat="pobject in ctrl.items track by pobject.id"
				class="md-3-line" 
				ng-href="{{'shop/orders/' + pobject.id}}"
				style="cursor: pointer">
				<img ng-src="{{pobject.avatar}}" ng-if="pobject.avatar" class="md-avatar" />
				<wb-icon ng-if="!pobject.avatar">event</wb-icon>
				<div 
					class="md-list-item-text" 
					layout="column">
					<h3>{{pobject.title}} - ({{pobject.state| translate}})</h3>
					<h4>{{pobject.full_name}} - {{pobject.phone}}</h4>
					<p>{{pobject.province}} - {{pobject.city}} - {{pobject.address}}</p>
				</div>
				<md-divider md-inset></md-divider>
			</md-list-item>
		</md-list>
	</md-content>
</div>

