<div
	ng-controller="MbSeenShopServicesCtrl as ctrl"
	mb-preloading="ctrl.loading"
	layout="column"
	flex>
	<mb-pagination-bar
		mb-model="ctrl.queryParameter"
		mb-reload="ctrl.reload()"
		mb-sort-keys="ctrl.getSortKeys()"
		mb-more-actions="ctrl.getActions()"
		mb-properties="ctrl.properties">
	</mb-pagination-bar>
	<md-content
		mb-infinate-scroll="ctrl.loadNextPage()"
		layout="column"
		flex>
		<md-list flex> 
			<md-list-item 
				ng-repeat="pobject in ctrl.items track by pobject.id"
				class="md-3-line" 
				ng-href="{{'shop/services/' + pobject.id}}"
				style="cursor: pointer">
				<img ng-src="{{pobject.avatar}}" ng-if="pobject.avatar" class="md-avatar" />
				<wb-icon ng-if="!pobject.avatar">cloud_upload</wb-icon>
				<div class="md-list-item-text" layout="column">
					<h3>{{pobject.title}}</h3>
					<h4>
						<span translate="">Price</span>: {{pobject.price}} 
						<span ng-show="pobject.off">- <span tanslate="">Off</span>: <s>{{pobject.off}}</s></span>
					</h4>
					<p>{{pobject.description}}</p>
				</div>
				<md-divider md-inset></md-divider> 
			</md-list-item> 
		</md-list>
	</md-content>
</div>