<!doctype html>
<html 
  md-theme="{{__app.test.theme || __app.setting.theme || __app.config.theme || 'default'}}"
  md-theme-watch
  dir="{{__app.dir}}"
  ng-app="app">
  <head>
    <meta charset="utf-8">
    <title>Angular Material Dashboard</title>
    <meta name="description" content="Angular admin dashboard with material design">
    <meta name="author" content="flatlogic.com">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

	<!--  injector:base -->
	<base href="/" >
	<!--  endinjector  -->
	
  <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
  <link rel="stylesheet" href="bower_components/lf-ng-md-file-input/dist/lf-ng-md-file-input.css" />
  <link rel="stylesheet" href="bower_components/material-steppers/dist/material-steppers.css" />
  <link rel="stylesheet" href="bower_components/jspanel4x/dist/jspanel.css" />
  <link rel="stylesheet" href="bower_components/md-color-picker/dist/md-color-picker.css" />
  <link rel="stylesheet" href="bower_components/mblowfish-core/dist/mblowfish-core.css" />
  <link rel="stylesheet" href="bower_components/angular-material-dashboard/dist/angular-material-dashboard.css" />
  <!-- endbower -->
  <!-- endbuild -->

	<!-- build:css({.tmp/serve,src}) styles/app.css -->
	<!-- injector:css -->
	<link rel="stylesheet" href="styles/amd-loader.css">
	<link rel="stylesheet" href="styles/fonts.css">
	<link rel="stylesheet" href="styles/main.css">
	<link rel="stylesheet" href="styles/order.css">
	<link rel="stylesheet" href="styles/print.css">
	<link rel="stylesheet" href="styles/style.css">
	<link rel="stylesheet" href="styles/table.css">
	<link rel="stylesheet" href="styles/amd-loader.css">
	<link rel="stylesheet" href="styles/amd-preloader.css">
	<!-- endinjector -->
    <!-- endbuild -->

  <!-- build:js(src) scripts/vendor.js -->
  <!-- bower:js -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-aria/angular-aria.js"></script>
  <script src="bower_components/angular-messages/angular-messages.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/angular-material/angular-material.js"></script>
  <script src="bower_components/lodash/lodash.js"></script>
  <script src="bower_components/mustache.js/mustache.js"></script>
  <script src="bower_components/seen-core/dist/seen-core.js"></script>
  <script src="bower_components/seen-user/dist/seen-user.js"></script>
  <script src="bower_components/seen-bank/dist/seen-bank.js"></script>
  <script src="bower_components/seen-tenant/dist/seen-tenant.js"></script>
  <script src="bower_components/seen-cms/dist/seen-cms.js"></script>
  <script src="bower_components/seen-monitor/dist/seen-monitor.js"></script>
  <script src="bower_components/flux/dist/Flux.js"></script>
  <script src="bower_components/am-wb-core/dist/am-wb-core.js"></script>
  <script src="bower_components/ng-appcache/dist/appcache.js"></script>
  <script src="bower_components/lf-ng-md-file-input/dist/lf-ng-md-file-input.js"></script>
  <script src="bower_components/angular-recaptcha/release/angular-recaptcha.js"></script>
  <script src="bower_components/blob-polyfill/Blob.js"></script>
  <script src="bower_components/file-saver.js/FileSaver.js"></script>
  <script src="bower_components/angular-file-saver/dist/angular-file-saver.bundle.js"></script>
  <script src="bower_components/material-steppers/dist/material-steppers.js"></script>
  <script src="bower_components/angular-material-persian-datepicker/dist/datePicker.min.js"></script>
  <script src="bower_components/jspanel4x/dist/jspanel.js"></script>
  <script src="bower_components/tinymce/tinymce.js"></script>
  <script src="bower_components/tinycolor/tinycolor.js"></script>
  <script src="bower_components/md-color-picker/dist/md-color-picker.js"></script>
  <script src="bower_components/angular-translate/angular-translate.js"></script>
  <script src="bower_components/weakmap-polyfill/weakmap-polyfill.js"></script>
  <script src="bower_components/ngstorage/ngStorage.js"></script>
  <script src="bower_components/moment/moment.js"></script>
  <script src="bower_components/loglevel/dist/loglevel.min.js"></script>
  <script src="bower_components/mblowfish-core/dist/mblowfish-core.js"></script>
  <script src="bower_components/angular-material-dashboard/dist/angular-material-dashboard.js"></script>
  <script src="bower_components/seen-shop/dist/seen-shop.js"></script>
  <script src="bower_components/angular-mocks/angular-mocks.js"></script>
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js({.tmp,app}) scripts/scripts.js -->
	<!-- injector:js -->
	<script src="scripts/app.js"></script>
	<script src="scripts/configs/state.js"></script>
	<script src="scripts/controllers/amd-shop-agency.js"></script>
	<script src="scripts/controllers/amd-shop-category.js"></script>
	<script src="scripts/controllers/amd-shop-deliver.js"></script>
	<script src="scripts/controllers/amd-shop-order.js"></script>
	<script src="scripts/controllers/amd-shop-product.js"></script>
	<script src="scripts/controllers/amd-shop-service.js"></script>
	<script src="scripts/controllers/amd-shop-tag.js"></script>
	<script src="scripts/controllers/amd-shop-zone.js"></script>
	<script src="scripts/controllers/seen-shop-agencies.js"></script>
	<script src="scripts/controllers/seen-shop-categories.js"></script>
	<script src="scripts/controllers/seen-shop-delivers.js"></script>
	<script src="scripts/controllers/seen-shop-orders.js"></script>
	<script src="scripts/controllers/seen-shop-products.js"></script>
	<script src="scripts/controllers/seen-shop-services.js"></script>
	<script src="scripts/controllers/seen-shop-tags.js"></script>
	<script src="scripts/controllers/seen-shop-zones.js"></script>
	<script src="scripts/runs/actions-agency.js"></script>
	<script src="scripts/runs/actions-category.js"></script>
	<script src="scripts/runs/actions-deliver.js"></script>
	<script src="scripts/runs/actions-order.js"></script>
	<script src="scripts/runs/actions-product.js"></script>
	<script src="scripts/runs/actions-service.js"></script>
	<script src="scripts/runs/actions-tag.js"></script>
	<script src="scripts/runs/actions-zone.js"></script>
	<script src="scripts/runs/navigator.js"></script>
	<script src="scripts/runs/resources.js"></script>
	<script src="scripts/demo.js"></script>
	<!-- endinjector -->
  <!-- endbuild -->
  </head>
  <body
    mb-view>

  </body>
</html>


