<div 
	ng-controller="MbSeenShopZonesCtrl as ctrl"
	mb-preloading="ctrl.state === 'busy'"
	layout="column"
	flex>
	<mb-pagination-bar
		mb-model="ctrl.queryParameter"
		mb-properties="ctrl.properties"
		mb-reload="ctrl.reload()"
		mb-more-actions="ctrl.getActions()">
	</mb-pagination-bar>
	
	<md-content
		mb-infinate-scroll="ctrl.loadNextPage()"
		layout="column"
		flex>
		<md-list flex>
			<md-list-item 
				ng-repeat="item in ctrl.items track by item.id"
				ng-click="multi || resourceCtrl.setSelected(item)"
				class="md-3-line">
				<wb-icon>accessibility</wb-icon>
				<div 
					class="md-list-item-text" 
					layout="column">
					<h3>{{item.name}}</h3>
					<p>{{item.description}}</p>
				</div>
				<md-checkbox 
					ng-if="multi"
					class="md-secondary"
					ng-init="item.selected = resourceCtrl.isSelected(item)" 
					ng-model="item.selected"
					ng-click="resourceCtrl.setSelected(item, item.selected)">
				</md-checkbox>
				<md-divider md-inset></md-divider>
			</md-list-item>
		</md-list>
	</md-content>
</div>